{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col bg-success text-white col-title">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </section>
    {% include 'BlogBundle:posts:_posts.html.twig' %}
{% endblock %}
