{# src/BookingBundle/Resources/views/standard_layout.html.twig #}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <p class="text-center"><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></p>
{% endblock %}