{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <h1 class="h3 text-center">Register</h1>
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </section>
{% endblock %}
