{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for post in posts %}
                        <h4>{{ post.title }}</h4>
                        <h6><ul class="list-inline">{% for category in post.categories %}<li class="list-inline-item"><a href="{{ path('slug', {slug : category.slug}) }}">{{ category.name }}</a></li>{% endfor %}</ul></h6>
                        <p>{{ post.content }}</p>

                        <form action=""></form>
                        {% for comment in post.comments %}
                            comment.content
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
